<p>Hi <%= @user.name %>,</p>

<p>You requested a password reset for your account.</p>

<p>
  <a href="<%= @reset_link %>">Reset your password</a>
</p>

<p>This link will expire in 2 days.</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Best regards,<br>Eventify Team</p>