# ==========================================
# DATABASE
# ==========================================
# If Postgres requires a specific user/password on your local machine
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# ==========================================
# SECURITY
# ==========================================
# From the repo root, run `cd api && bin/rails secret` to generate a secure random string for this!
JWT_SECRET_KEY=

# ==========================================
# MAILER
# ==========================================
RESEND_API_KEY=

# ==========================================
# SWAGGER
# ==========================================
SWAGGER_SERVER_URL=

# ==========================================
# MONOBANK
# ==========================================
MONOBANK_API_TOKEN=
MONOBANK_BASE_URL=

# ==========================================
# AWS
# ==========================================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# ==========================================
# TEMP FRONTEND/BACKEND URL
# ==========================================
FRONTEND_BASE_URL=
BACKEND_BASE_URL=

# ==========================================
# AWS S3
# ==========================================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# ==========================================
# MAILER
# ==========================================
RESEND_API_KEY=
GMAIL_USERNAME=
GMAIL_APP_PASSWORD=