# ==========================================
# DATABASE
# ==========================================
# If Postgres requires a specific user/password on your local machine
DB_USERNAME=
DB_PASSWORD=

# ==========================================
# SECURITY
# ==========================================
# Run `bin/rails secret` in your terminal to generate a secure random string for this!
JWT_SECRET_KEY=

# ==========================================
# CORS / FRONTEND
# ==========================================
# Tell Rails who is allowed to talk to the API
FRONTEND_URL=
